@import "tailwindcss";

@font-face {
    font-family: 'arame';
    src: url('./assets/fonts/Arame-Mono.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

.font-arame {
    font-family: 'arame', sans-serif;
}

@font-face {
    font-family: 'raider';
    src: url('./assets/fonts/raidercrusaderstraight.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

.font-raider {
    font-family: 'raider', sans-serif;
}

@theme {
    --color-r: #fb2c36;
    --color-r1: #fb414a;
    --color-r2: #fc6b72;
    --color-g: #A6A6A6;
    --color-g1: #737373;
    --color-g2: #404040;
    --color-b: #0D0D0D;
    --color-b1: #262626;
    --color-orange: #F25C05;
    --color-blue: #63A1F2;
}