@import "tailwindcss";

@font-face {
    font-family: 'aqua';
    src: url('./assets/fonts/aqua.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

.font-aqua {
    font-family: 'aqua', sans-serif;
}

@theme {
    --color-r: #fb2c36;
    --color-rl: #fb414a;
    --color-r2: #fc6b72;
    --color-g: #A6A6A6;
    --color-g1: #737373;
    --color-g2: #404040;
    --color-b: #0D0D0D;
    --color-b1: #262626;
}